/* color palette from <https://github.com/vuejs/theme> */
@import url("https://fonts.googleapis.com/css?family=Outfit");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* semantic color variables for this project */

:root {
    --main-color: #00aa00;

    --background-color: #ffffff;
    --background-side-color: #ddd;

    --text-color: #000000;
    --text-font: "Outfit", sans-serif;
    --text-size: 1.2em;
    --text-header-font: "Montserrat", sans-serif;
    --text-header-size: 1.8em;

    --border-color: #d2d4d6;

    --input-color: #eeeeff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0e1525;
        --background-side-color: #0e1525;

        --text-color: #ffffff;

        --border-color: #2b3245;

        --input-color: #111122;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);
}

html {
    min-height: 100vh;
    min-width: 100vw;
}
